* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    color: #333;
    margin-bottom: 15px;
}


.input-container {
    margin-bottom: 10px;
}

#input-display{
    width:100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.date,.time{
    width: 50%;
}

#input-date,#input-time {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
   
}


#add-btn {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

#add-btn:hover {
    background-color: #218838;
}
.date-time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.all-Lists div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list-item {
    width: 50%;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #c82333;
}